*{
    margin: 0px 0px;
}

header{
    background-color: #A3A656;
    padding: 0px 0px;
    height: 70px;
    display: flex;
    align-content: center;
    justify-content: space-between;
}

.Menu{
    display: flex;
    font-family: 'Inter', sans-serif;
    align-content: center;
    font-size: 16px;
    font-weight: normal;
}

.Menu ul{
    padding-left:70px;
    display: flex;
    align-items: center;
}

.Menu ul li {
    list-style: none;
    padding: 0px 20px 0px 0px;
}

.Menu ul li :hover{
    color:#FFFF00;
}

.Menu ul li a{
    text-decoration: none;
    color: #000000;
}

.Cuenta-Idioma{
    display: flex;
    align-items: center;
}

.Cuenta{
    display: flex;
    align-items: center;
    padding: 10px 20px;
    height: 100%;
    padding-right: 30px;
}

.Cuenta img{
    width: 50px;
    height: 50px;
    margin-right: 10px;
    display: inline;    
}

.tiny-text{
    display: flex;
    align-items: center;
    height: 100%;
    font-size: 0.7rem;
    font-family: sans-serif;
}

.Idioma{
    display: flex;
    align-items: center;
    padding: 0px 10px;
    height: 100%;
}

.ImagenPrincipal-TextoPrincipal {
    position: relative;
    width: 100%;
}

.ImagenPrincipal {
    width: 100%;
    position: relative;
}

.ImagenPrincipal img {
    width: 100%;
    height: auto;
    display: block;
}

.TextoPrincipal {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-102%, -83%);
    text-align: center;
    color: black;
}

.TextoPrincipal h1 {
    font-family: 'Romanesco', cursive;
    font-size: 96px;
    font-weight: 400;
    margin-bottom: 20px;
    text-align: left;
}

.TextoPrincipal h2 {
    font-family: 'Inter', sans-serif;
    font-size: 32px;
    font-weight: 600;
    text-align: left;
}



