*{
    margin: 0px 0px;
}

header{
    background-color: #A3A656;
    padding: 0px 0px;
    height: 70px;
    display: flex;
    align-content: center;
    justify-content: space-between;
}

.ft-mini{
    font-family: 'Inter', sans-serif;
    font-weight: normal;
    font-size: 14px;
}

.ft-menu{
    font-family: 'Inter', sans-serif;
    font-weight: normal;
    font-size: 16px;
}

.ft-titulo2{
    font-family: 'Inter', sans-serif;
    font-weight: 600;
    font-size: 32px;
    color: black;
    display: flex;
    align-items: center;
}

.ft-placeholder{
    font-family: 'Inter', sans-serif;
    font-weight: normal;
    font-size: 16px;
    color: #9E9A9A;
    padding-left: 15px;
}

.button-main{
    background-color: #A3A656;
    border: none;
    border-radius: 35px;
    height: 100%;
    width: 100%;
    font-family: 'Inter', sans-serif;
    font-weight: bold;
    font-size: 16px;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
}

.button-main:hover{
    background-color: #384001;
}

.Menu{
    display: flex;
    align-content: center;
}

.Menu ul{
    padding-left:70px;
    display: flex;
    align-items: center;
}

.Menu ul li {
    list-style: none;
    padding: 0px 20px 0px 0px;
}

.Menu ul li :hover{
    color:#FFFF00;
}

.Menu ul li a{
    text-decoration: none;
    color: #000000;
}

.Cuenta-Idioma{
    display: flex;
    align-items: center;
}

.Cuenta{
    display: flex;
    align-items: center;
    padding: 10px 20px;
    height: 100%;
    padding-right: 30px;
}

.Cuenta div a{
    text-decoration: none;
    color: black;
}

.Cuenta div a:hover{
    color:#FFFF00;
}

.Cuenta img{
    width: 50px;
    height: 50px;
    margin-right: 10px;
    display: inline;    
}

.Idioma{
    display: flex;
    align-items: center;
    padding: 0px 10px;
    height: 100%;
}

.ImagenPrincipal-TextoPrincipal {
    position: relative;
    width: 100%;
}

.ImagenPrincipal {
    width: 100%;
    position: relative;
}

.ImagenPrincipal img {
    width: 100%;
    height: auto;
    display: block;
}

.TextoPrincipal {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-102%, -83%);
    text-align: center;
    color: black;
}

.TextoPrincipal h1 {
    font-family: 'Romanesco', cursive;
    font-size: 96px;
    font-weight: 400;
    margin-bottom: 20px;
    text-align: left;
}

.TextoPrincipal h2 {
    font-family: 'Inter', sans-serif;
    font-size: 32px;
    font-weight: 600;
    text-align: left;
}

.Reserva-Codigo{
    display: flex;
    align-items: center;
    height: 100px;
    background-color: #F2F6F6;
    justify-content: center;
}

.Reserva-Codigo input {
    border-radius: 15px;
    height: 55px;
    border: none;
}

.Card-Container {
    display: flex;
    justify-content: center;
    gap: 134px;
    margin: 100px 50px 50px 50px;
}

.Card{
    border-radius: 15px 15px 0px 0px;
    width: 350px;
    height: 440px;
    border: 1px solid #FF0000;
}

.CardTitle{
    display: flex;
    justify-content: center;
    text-align: center;
    height: 75px;
    border-radius: 15px 15px 0px 0px;
    background-color: #A3A656;
}

.CardImage img{
    height: 100%;
    width: 100%;
}

.CardDesc {
    padding-top: 10px;
}

.CardButtonPrice{
    padding-top: 20px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.CardPrice{
    padding-left: 10px;
}

.CardButton {
    width: 150px;
    height: 45px;
}